#container{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -999;
}
.dot{
  width:35px;
  height:35px;
  position:absolute;
  background: url(https://image.ibb.co/kyUHab/rose.png);
  background-size: 100% 100%;
}

.box{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.box-items{
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
  padding: 40px 10px 0px 10px;
  border-radius: 10px;
}

.right-items{
  width: 50%;
  height: 100%;
  padding: 0px 40px;
  margin-left: 20px;
}
.right-items> p{
  font-size: 28px;
  letter-spacing: 1px;
  line-height: 40px;
}
.left-items{
  width: 50%;
  height: 100%;
  margin-right: 20px;
}
.left-items img{
  width: 100%;
}
.openText{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

@media only screen and (max-width: 600px) {
  .box{
    height: auto;
  }

  .box-items{
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    margin: 12px 10px;
  }

  .left-items{
    width: 100%;
  }

  .right-items{
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .right-items > p{
    font-size: 18px;
    line-height: normal;
  }

}